body{color: #615551;
    min-height: calc(100vh - 8vw);
    background-image: linear-gradient(to bottom right,#fbdb89,#f48982);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Nunito Sans,sans-serif;
    font-weight: 400;
    height: 100%;
    line-height: 1.6;}

    .main {
        width: 80vw;
        background-color: #fff;
        border-radius: 9px;
        grid-template:"head head" "list recipe"minmax(100rem,auto)/1fr 2fr;
        margin: 4vw auto;
        display: grid;
        overflow: hidden;
        box-shadow: 0 2rem 6rem 0.5rem #61555133;
        padding: 3%;
    }

    #seachbox{
        background-color: #fff;
    border-radius: 10rem;
    align-items: center;
    padding-left: 3rem;
    transition: all .3s;
    display: flex;
    }

    .seachdiv{
        display: flex;
    }